.checkbox-border {
  position: relative;

}

.checkbox-border input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #000000; /* Border around the checkbox */
  border-radius: 4px; /* Optional: for rounded corners */
  width: 16px; /* Width of the checkbox */
  height: 16px; /* Height of the checkbox */
  appearance: none; /* Remove default checkbox style */
}

.checkbox-border input[type="checkbox"]:checked {
  background-color: #007bff; /* Change background when checked */
  border: 1px solid #007bff; /* Border color when checked */
}
