.backgroundImageFP {
  width: auto;
  height: 30rem;
}

.customInputFieldFP {
  background-color: #0760a1;
  color: #fff;
  height: 3.5rem;
  width: 100%;
}
.customInputFieldFP::placeholder {
  color: #fff;
  font-family: Helvetica;

  padding-left: 1rem;
}

/** BUTTONS ************************************************/
.customButton1FP {
  background-color: #0760a1;
  color: #fff;
  border-radius: 1.7rem;

  height: 3.5rem;
  width: 100%;

  font-family: Helvetica;
  font-weight: 600;
}

.customButton1FP:hover {
  background-color: #06598f; /* Darker shade of blue */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for effect */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.customButton1FP:active {
  background-color: #054a79; /* Change to an even darker shade of blue when clicked */
  transform: scale(
    0.8
  ); /* Slightly shrink the button to simulate pressing effect */
}

.customHeaderFP {
  font-family: Helvetica;
  font-weight: 600;
  color: #0760a1;
}
